<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sudo Titans</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/index/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/index/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/preliminaryMcq/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/all/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<section class="navbar">
  <div>
    <h1>Sudo Titans</h1>
  </div>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/rules">Rules</a></li>
    <li><a href="/scoreboard">Score Board</a></li>
    <li><a href="/presentCtfValues">Current CTF values</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>    
</section>

<div class="jumbotron">
   <div class="jumbo-container">
      <h1>Sudo Titans</h1>
   </div>
   <p>Answer the given Capture The Flag (CTF) question correctly to get points for this CTF. The flag is string containing a mix of lowercase, uppercase, numbers and special characters. Can't get any easier, right? Well it can. You can attempt the CTF question any number of times and incur <b>no penalty.</b>
  <!--  Answer the given Multiple Choice Question correctly to unlock the final Capture the Flag question of this set. The flag is the lower case string without any spaces containing the correct options in order. Can't get any easier, right? Well it can every attempt gives back the result on which questions you got wrong but remember each wrong answer incurs a penalty of 10pts. -->
</p>
</div>

<div class="question-card ctf-card">
	<h4>{{ .Question }}</h4>
	<p>{{ .Hint }}</p>
	<a href="/ctfQuestion/{{ .QuestionID }}/ctf.html" target="_blank" class="ctf-link">Open CTF</a>
</div>

<div class="container-flag-submit">
<div class="wrap-login100">
	<form class="login100-form validate-form" action="/submitFlag/ctf/{{ .QuestionID }}" method="post">
		<span class="login100-form-title p-b-26">
			Submit Flag
		</span>
		<div class="wrap-input100 validate-input">
			<input class="input100" type="text" name="flag">
			<span class="focus-input100" data-placeholder="Flag"></span>
		</div>

		<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button class="login100-form-btn">
					Submit
				</button>
			</div>
		</div>

		<div class="feedback">
			<span class="txt1">
				{{ .Message }}
			</span>
		</div>
	</form>
</div>
</div>

<!--===============================================================================================-->
	<script src="/assets/index/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/index/js/main.js"></script>


</body>
</html>