<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sudo Titans</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/scoreboard/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="jumbotron">
   <div class="jumbo-container">
      <h1>Sudo Titans</h1>
   </div>
   <h3>Present CTF Values</h3>
   <p>The value of CTF questions change dynamically based on the number of teams that have answered the question correctly.</p>
   <p>Achieve. Analyze. Repeat</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Present Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CTF 1</td>
      <td>{{.CTF_1}}</td>
    </tr>
    <tr>
      <td>CTF 2</td>
      <td>{{.CTF_2}}</td>
    </tr>
    <tr>
      <td>CTF 3</td>
      <td>{{.CTF_3}}</td>
    </tr>
    <tr>
      <td>CTF 4</td>
      <td>{{.CTF_4}}</td>
    </tr>
    <tr>
      <td>CTF 5</td>
      <td>{{.CTF_5}}</td>
    </tr>
    <tr>
      <td>CTF 6</td>
      <td>{{.CTF_6}}</td>
    </tr>
    <tr>
      <td>CTF 7</td>
      <td>{{.CTF_7}}</td>
    </tr>
    <tr>
      <td>CTF 8</td>
      <td>{{.CTF_8}}</td>
    </tr>
    <tr>
      <td>CTF 9</td>
      <td>{{.CTF_9}}</td>
    </tr>
    <tr>
      <td>CTF 10</td>
      <td>{{.CTF_10}}</td>
    </tr>
  </tbody>
</table>
</body>
</html>