<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sudo Titans</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/scoreboard/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="jumbotron">
   <div class="jumbo-container">
      <h1>Sudo Titans</h1>
   </div>
   <h3>Rules</h3>
   <p>You see yourself up here?</p>
</div>
<p>
  The 
</p>
</table>
</body>
</html>