<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sudo Titans</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/scoreboard/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="jumbotron">
   <div class="jumbo-container">
      <h1>Sudo Titans</h1>
   </div>
   <h3>Rules</h3>
   <p>Playing by the rules better be your thing.</p>
</div>
<ul>
  <li>This round contains 10 sets. Easy, Medium and Hard. (3+4+3)</li>
  <li>Each set contains 4 MCQs and 1 CTF question.</li>
  <li>Only after you answer all the MCQs of the set correctly, the CTF question of that particular set is unlocked.</li>
  <li>For MCQs the score for Easy, Medium and Hard are 20, 25 and 30 respectively.</li>
  <li>For every incorrect choice there is a negative score of 10.</li>
  <li>The CTF questions have a maximum possible score of 150, 250 and 400. Every time a team gets a CTF question correct the value for that question decreases by 10, 15 and 20 for Easy, Medium and Hard respectively.</li>
  <li>The flag for each CTF is case sensitive and can be alphanumeric with special characters.</li>
  <li>There is no negative marking for incorrect flags in a CTF.</li>
  <li>Any ties would be broken based on priority given to number of sets completed then number of Hard sets completed then number of Medium sets completed and then number of Easy sets completed.</li>
  <li>The decision of event heads is final and unchallengeable.</li>
</ul>
</table>
</body>
</html>