<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sudo Titans</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/scoreboard/css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="jumbotron">
   <div class="jumbo-container">
      <h1>Sudo Titans</h1>
   </div>
   <h3>Score Card</h3>
   <p>Achieve. Analyze. Repeat</p>
   <h4>Team Name: {{ .TeamName }}</h4>
   <h4>Total Points: {{ .TotalPoints }}</h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Points Scored</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MCQ 1</td>
      <td>{{.MCQ_1}}</td>
    </tr>
    <tr>
      <td>CTF 1</td>
      <td>{{.CTF_1}}</td>
    </tr>
    <tr>
      <td>MCQ 2</td>
      <td>{{.MCQ_2}}</td>
    </tr>
    <tr>
      <td>CTF 2</td>
      <td>{{.CTF_2}}</td>
    </tr>
    <tr>
      <td>MCQ 3</td>
      <td>{{.MCQ_3}}</td>
    </tr>
    <tr>
      <td>CTF 3</td>
      <td>{{.CTF_3}}</td>
    </tr>
    <tr>
      <td>MCQ 4</td>
      <td>{{.MCQ_4}}</td>
    </tr>
    <tr>
      <td>CTF 4</td>
      <td>{{.CTF_4}}</td>
    </tr>
    <tr>
      <td>MCQ 5</td>
      <td>{{.MCQ_5}}</td>
    </tr>
    <tr>
      <td>CTF 5</td>
      <td>{{.CTF_5}}</td>
    </tr>
    <tr>
      <td>MCQ 6</td>
      <td>{{.MCQ_6}}</td>
    </tr>
    <tr>
      <td>CTF 6</td>
      <td>{{.CTF_6}}</td>
    </tr>
    <tr>
      <td>MCQ 7</td>
      <td>{{.MCQ_7}}</td>
    </tr>
    <tr>
      <td>CTF 7</td>
      <td>{{.CTF_7}}</td>
    </tr>
    <tr>
      <td>MCQ 8</td>
      <td>{{.MCQ_8}}</td>
    </tr>
    <tr>
      <td>CTF 8</td>
      <td>{{.CTF_8}}</td>
    </tr>
    <tr>
      <td>MCQ 9</td>
      <td>{{.MCQ_9}}</td>
    </tr>
    <tr>
      <td>CTF 9</td>
      <td>{{.CTF_9}}</td>
    </tr>
    <tr>
      <td>MCQ 10</td>
      <td>{{.MCQ_10}}</td>
    </tr>
    <tr>
      <td>CTF 10</td>
      <td>{{.CTF_10}}</td>
    </tr>
  </tbody>
</table>
</body>
</html>