html {
	background-color: #92a8d1;
}

.title {
	text-align: center;
}

.title ul {
	list-style: none;
}

.title li {
	display: inline;
	font-size: 150%;

}

.mcq_card ul{
	display: flex;
	flex-direction: row;
}

.mcq_card li{
	display: flex;
	padding: 10px;
}

.mcq_holder {
	
}

.mcq_card {
	background-color: #F9F8FD;
	border-radius: 40px;
	margin:	5vw;
	padding: 20px 5vw;

}

.correct_card {
	box-shadow: 3px 3px 20px rgba(0, 100, 0, .5);
}

.incorrect_card {
	box-shadow: 3px 3px 20px rgba(100, 0, 0, .5);
}

.null_card {
	box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}